.stytt{
    position: sticky;
    position: -webkit-sticky;  
    top: 30%;
}

.styt{
    position: sticky;
    position: -webkit-sticky;  
    top: 20%;
}

.sty{
    position: sticky;
    position: -webkit-sticky;  
    top: 0%;
}

.BI{
    background-image: url('img/Dust2.jfif');
    filter: blur(0px);
    -webkit-filter: blur(0px);
    height:200%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.I1{
    background-image: url('img/BG/Dust2.jpg');
    height: 400%;
}

.I2{
    background-image: url('img/BG/Mirage.jpg');
}

.I3{
    background-image: url('img/BG/Inferno.jpg');
}

.I4{
    background-image: url('img/BG/Overpass.png');
}

.I5{
    background-image: url('img/BG/Nuke.jfif');
}

.I6{
    background-image: url('img/BG/Vertigo.png');
}

.space{
height: 15%;
}



.grid{
display: grid;
}

.navb{
float: right;
color: cornsilk;
text-shadow: 3px 3px 0 black;
padding: 5%;

}

.cup{
    
    display:block;

    color:white;   
    font-size:225%;

   width: 100%;
   height: 0%;

   text-shadow: 3px 3px 0 black;

   text-align: center;

   font-family: 'Courier New';
   font-weight: bold;

}
.itxt{
    font-family: 'Courier New';
    display:block;
    color:white;   
    font-size:200%;
   width: 30%;
   height: 0%;
   padding-top: 7%;
   }

.tri{
    text-align: right;
    float: right;
}

html{
    height:100%;
}

body{ 
    margin: 0%;
    height: 100%;
   
}
header{
    display: block;
    color:white;
    margin: 0%;
    height: 25%;
    padding: 0%;
    font-size:1200%;
    font-family: Impact;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-shadow: 20px 20px 0 black;
  
   
}
nav{
    margin: 0%;
    height: 1%; 
    padding: 0%;
    color: white;
    background-color: rgba(155, 155, 255, 100);

}
aside{
    margin: 0%;
    height: 100%;
}
section{
    margin: 0%;
    height: 100%;
}
footer{
    margin: 0%;
    height: 100%;
}
a{
 color: limegreen;   
 text-decoration: none;
}
a:hover{
 color: maroon;
}

a:active{
 color:cornflowerblue;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}